

<div class="container card mt-5 mb-3 ">

  <h2 class="mt-5 mb-3" style="color: #338DFF">Créer un admiin fonctionnel</h2>
  <hr>

  <form >

  <div class="row  mt-5 mb-3">

    <div class="col-md-2">
       <label  class=" form-label">Nom Complet *</label>
    </div>

    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="First Name"  ngModel>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="Last Name" ngModel>
    </div>

  </div>

  <div class="row mb-2">

    <div class="col-md-2">
      <label class="form-label">E-mail *</label>
    </div>
    <div class="col-md-10">
      <input type="email" class="form-control" placeholder="E-mail" ngModel>
    </div>

  </div>

  <div class="row mb-3">

    <div class="col-md-2">
       <label  class="form-label">Telephone</label>
    </div>
    <div class="col-md-10">
     <input type="text" class="form-control" placeholder="Tef" ngModel>
    </div>
  </div>

  <div class="row mb-3">

    <div class="col-md-2">
      <label class="form-label">Fonction</label>
    </div>

    <div class="col-md-10">
     <input type="text" class="form-control" placeholder="Fonction" ngModel>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col-md-2">
       <label  class="form-label">Departement</label>
    </div>
    <div class="col-md-10">
       <input type="text" class="form-control" placeholder="Departement" ngModel>
    </div>
  </div>
  <div class="text-center mb-3">
     <button type="submit" class="  btn btn-primary ">Créer un admin</button>
  </div>
</form>

</div>
